

# Ignore node_modules in frontend and backend
frontend/node_modules
backend/node_modules


backend/uploads
backend/uploads2

node_modules/
node_modules

# Ignore assets folder in frontend/src
frontend/src/assets

# Ignore Database Backup folder
Database_Backup/

# Other common ignores
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
