# Ignore node_modules globally
node_modules/

# Ignore uploads directories
backend/uploads
backend/uploads2

# Ignore assets folder in frontend/src
frontend/src/assets

# Ignore Database Backup folder
Database_Backup/

# Other common ignores
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
